{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="col-6 mx-auto col-md-6 order-md-2">
    <form class="" action="register_house" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <!--<div class="form-group">
        <label for="id_name">Name</label>
        <input type="text" name="name" maxlength="100" class="form-control" required id="id_name" placeholder='eg "Bellevue apartments"'>
      </div>
      <div class="form-group">
        <label class="control-label" for="id_price" >Price</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">KES</span>
            </div>
            <input type="text" name="price" step="100" required id="id_price" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="id_description">Description</label>
        <textarea name="description" class="form-control" required id="id_description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="id_floor_number">Floor number</label>
        <input type="number" name="floor_number" class="form-control" required id="id_floor_number" placeholder="">
        <small class="form-text text-muted">How many floors including ground floor</small>
      </div>
      <div class="form-group">
        <label </label>

      </div>
      <div class="form-group">
        <label class="control-label" for="id_plot_area">Plot area</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="number" name="plot_area" required id="id_price" class="form-control" placeholder="">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">m<sup>2</sup></span>
            </div>
          </div>
          <small class="form-text text-muted">The total area of the plot</small>
        </div>
      </div>
      <div class="form-group">
        <label for="id_security_company">Security company</label>
        <input name="security_company" type="text" class="form-control" required id="id_security_company" placeholder="">
      </div>
      <div class="form-group">
        <label for="id_special_features">Special features</label>
        <textarea type="special_features" name="special_features" class="form-control" required id="id_special_features" placeholder="" rows="4"></textarea>
      </div>-->
      <input class="btn btn-primary" type="submit" name="submit" value="Register house">
    </form>
  </div>
</div>

{% endblock content %}
